@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;800&display=swap');

html {
    font-family: 'Public Sans', sans-serif;
}

main {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.pinturas {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.pinturas .pintura {
    width: 235px;
    height: 300px;
    position: relative;
}

.pinturas .pintura img {
    width: 100%;
}

.pinturas .pintura .informacoes {
   color: #ffffff;
   position: absolute;
   bottom: 40px;
   left: 20px;
}

.pinturas .pintura .informacoes .titulo {
    font-size: 20px;
    margin-bottom: 8px;
}

.pinturas .pintura .informacoes .subtitulo {
    font-weight: 300;
    font-size: 17px;
}