.container {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(3, auto);
    gap: 15px;
}

/* .verde-claro {
    background-color: rgb(8, 183, 8);
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.azul {
    background-color: rgb(1, 87, 236);
}

.rosa {
    background-color: rgb(227, 33, 98);
    grid-column: 3 / 6;
}

.laranja-escuro {
    background-color: rgb(150, 40, 1);
}

.verde-forte {
    background-color: rgb(21, 60, 21);
}

.marrom {
    background-color: brown;
}

.span {
    grid-column: 1 / span 4;
} */

.itens {
    padding: 15px;
    border-radius: 30px;
    color: white;
}

.verde-claro {
    background-color: rgb(7, 150, 7);
    grid-area: 1 / 1 / 3 / 3;
}

.azul {
    background-color: rgb(1, 87, 236);
    grid-area: 1 / 3 / 1 / 6;
}

.rosa {
    background-color: rgb(227, 33, 98);
    grid-area: 3 / 1 / 3 / 3;
    
}

.laranja-escuro {
    background-color: rgb(228, 69, 11);
    grid-area: 2 / 3 / 4 / 5;
}

.verde-forte {
    background-color: rgb(21, 60, 21);
    grid-area: 2 / 5 / 3 / 6;
}

.marrom {
    background-color: brown;
    grid-area: 3 / 5 / 4 / 6;
}