p:first-child {
    color: blue;
}

p:last-child {
    color: red;
}

p:not(.padrao) {
    color: yellow;
}

p:nth-child(even) {
    color: red;
}

li:nth-child(2n) {
    background-color: black;
    color: white;
}