.flex {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    max-width: 100%;
}

.flex img {
   max-width: 100%;
}

.coluna {
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    margin: 1em;
    flex: 0 1 250px;
    padding: 10px;
}

.botao {
    align-self: flex-start;
    margin-top: auto;

}