@charset "UTF-8";

h1{
    background-color: black;
    color: white;
    text-align: center;
    border: solid 2px #00ff00;
}

p {
    margin: 20px;
    padding: 10px;
    border: solid 5px black;
    background-color: aqua;
}