@charset "UTF-8";

.alinhado-esquerda {
      text-align: left;
}

.alinhado-direita {
      text-align: right;
}

.alinhado-centro {
      text-align: center;
}

.texto-justificado {
    text-align: justify;
}

.texto-maiusculo {
    text-transform: uppercase;
}

.texto-minusculo {
    text-transform: lowercase;
}

.texto-capitalizado {
    text-transform: capitalize;
}

.sublinhado {
    text-decoration: underline;
}

.linha-sobreposta {
    text-decoration: line-through;
}

.sem-text-decoration {
    text-decoration: none;
}

.altura-entre-linhas {
     line-height: 80px;
}

.sombra-de-texto {
    text-shadow: 2px 2px 5px red;
}

.fundo-alinhamento {
      background-color: rgb(148, 169, 207);
      font-size: 1.5em;
      padding: 20px;
}

.fundo {
    background-color: rgb(211, 211, 6);
    padding: 20px;
    font-size: 1.5em;
}