h1 {
    color: blue;
}

.paragrafo {
    color: red;
}

#menu {
    margin-left: 100px;
    color: blue;
}

* {
    padding: 0;
}

.titulo {
    font-size: 30px;
}

.titulo.vermelho {
    color: red;
}

.titulo.azul {
   color: blue;
}

p, span {
    color: brown;
    font-size: 16px;
}

.pai .filha {
    color: rgb(192, 205, 255);
}

div > p {
    background-color: chocolate;
}

div + p {
    background-color: black;
    color: white;
}

a[target=_blank] {
    color: red;
}