@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
    background-image: linear-gradient(to right, rgb(1, 1, 70), rgb(35, 13, 71), rgb(62, 25, 25));
    background-repeat: repeat;
    font-family: 'Roboto', sans-serif;
}

.principal {
    display: flex;
    gap: 200px;
    justify-content: center;
    align-items: center;
}

.introducao {
    max-width: 400px;
}

.introducao .textos {
    color: #fff;
    margin-top: 50px;
}

.introducao .textos h1 {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 900;
}

.introducao .textos p {
    font-size: 15px;
    font-weight: 400;
}


#formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    width: 350px;
    height: 500px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 100px;
}

h2 {
    font-size: 20px;
    color: #0d6138;
}

.dados {
    display: flex;
    flex-direction: column;
    margin: 12px;
}

.inputs {
    width: 290px;
    padding: 5px;
    border-radius: 5px;
    border: solid 2px black;
}

.botao {
    width: 290px;
    height: 50px;
    padding: 8px;
    color: #fff;
    background-color: #0d6138;
    font-weight: 800;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
}

.botao:hover {
    background-color: #058d24;
}

small {
    display: none;
    font-size: 10px;
}

small.erro {
    display: block;
    color: red;
}

.inputs.erro {
    border: solid 2px rgb(255, 36, 16);
}

.inputs.correto {
    border-color: green;
}

.envio-de-dados {
    transition: 1s;
    margin-top: 20px;
    font-size: 18px;
    color: green;
}