@charset "UTF-8";

.container {
    display: grid;
    grid-template-areas: "video-destaque propaganda"
                          "video-destaque sugeridos";
    grid-template-columns: 1fr 270px;
    grid-template-rows: 56px 1fr;
}

.video-destaque {
    grid-area: video-destaque;
    background-color: aquamarine;
}

.propaganda {
    grid-area: propaganda;
    background-color: blueviolet;
}

.sugeridos {
    grid-area: sugeridos;
    background-color: burlywood;
}